input {
	width: 200px;
	height: 50px;
}

.bandeauCompteur {
	width: 95%;
	height: 150px;
	border: 1px solid black;
	margin-top: 25px;
}

.bandeauInfo {
	width: 95%;
	height: 150px;
	border: 1px solid black;
	margin-top: 25px;
}